.spanStop {
  color: red;
  outline: 2px solid red;

  &Anime {
    animation-name: animeSpan;
    animation-duration: 0.3s;
    color: red;
  }

  @keyframes animeSpan {
    0%, 100% {
      transform: skewX(0deg);
    }
    15%{
      transform: skewX(-10deg);
    }
    30%{
      transform: skewX(-18deg);
    }
    45% {
      transform: skewX(-10deg);
    }
    55% {
      transform: skewX(0deg);
    }
    75% {
      transform: skewX(10deg);
    }
    80% {
      transform: skewX(18deg);
    }
    90% {
      transform: skewX(10deg);
    }
  }
}

